:root {
  --color-primary: #f9d72f;
  --color-tablehead: #e6e6e6;
  --color-background: #ffffff;
  --color-task: #f7f7f7;
  --color-success: #36d39a;
  --color-warning: #fbbe23;
  --color-error: #f87171;
  --color-notif: #24a0ed;
}

@font-face {
  font-family: "iranyekanwebregular";
  src: url("./fonts/iranyekanwebregular.woff") format("woff");
}

@font-face {
  font-family: "iranyekanwebmedium";
  src: url("./fonts/iranyekanwebmedium.woff") format("woff");
}

@font-face {
  font-family: "YekanBakhMedium";
  src: url("./fonts/YekanBakhMedium.woff") format("woff");
}

@font-face {
  font-family: "YekanBakhHeavy";
  src: url("./fonts/YekanBakhHeavy.woff") format("woff");
}

@font-face {
  font-family: "YekanBakhBold";
  src: url("./fonts/YekanBakhBold.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: iranyekanwebregular;
}

body {
  transition: all 0.3s ease;
  max-width: 1000px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: var(--color-background);
}

body button {
  transition: all 0.3s ease;
}

.container {
  position: relative;
  width: 100%;
  margin: 40px auto 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.input-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.input-section input {
  width: 100%;
  border: var(--color-primary) 1px solid;
  border-radius: 5px;
  padding: 10px;
  color: gray;
}

.input-section input:focus {
  outline: none;
  border-width: 2px;
}

button {
  color: #000000;
  cursor: pointer;
  background-color: var(--color-primary);
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

button:hover {
  opacity: 0.8;
}

.todo-operators {
  color: red;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filter-todos {
  color: #000000;
}

#delete-all-button {
  background-color: var(--color-error);
  color: #fafafa;
}

.toggle-container {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* اسلایدر */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* زمانی که فعال است */
.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:checked + .slider::before {
  transform: translateX(24px);
}

/* حالت دارک مود */
.dark-mode .menu-options {
  background-color: #222;
  color: #eee;
}


table {
  width: 100%;
  table-layout: fixed;
}

thead {
  background: var(--color-tablehead);
}

thead th {
  padding: 10px;
}

thead th:first-child {
  border-top-right-radius: 10px;
}

thead th:last-child {
  border-top-left-radius: 10px;
}

tbody td {
  text-align: center;
  background-color: var(--color-task);
  padding: 5px 10px;
  width: 25%;
  word-wrap: break-word;
}

tbody td button {
  padding: 4px 8px;
  margin: 2px 5px;
}

tbody td button:nth-child(1) {
  /* background-color: var(--color-warning); */
  /* color: #000000; */
}

td button:nth-child(2) {
  background-color: var(--color-success);
  width: 50px;
  color: #fafafa;
}

td button:nth-child(3) {
  background-color: var(--color-error);
  color: #fafafa;
}

.completed-task {
  background-color: #c3e6cb;
}

.expired-task {
  background-color: #f8d7da;
}

.warning-task {
  background-color: #fdfd96;
}

#alert-message {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.alert {
  width: 100%;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
}

.alert-success {
  color: #fafafa;
  background-color: var(--color-success);
  text-align: center;
}

.alert-error {
  color: #fafafa;
  background-color: var(--color-error);
  text-align: center;
}

.alert-notif {
  color: #fafafa;
  background-color: var(--color-notif);
  text-align: center;
}

#edit-button {
  display: none;
}

.button-wrapper {
  width: 20%;
  position: relative;
}
#add-button,
#edit-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#date-input,
#task-input {
  width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  margin-left: 10px;
}

.wrapper input {
  /* width: 100%; */
  height: 100%;
  padding-left: 30px;
}

.clear-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  font-size: 1.3rem;
  cursor: pointer;
  display: none;
  z-index: 10;
  outline: none;
}

body.dark-mode {
  --color-primary: #facc15;
  --color-tablehead: #1f2937;
  --color-background: #111827;
  --color-task: #1e293b;
  --color-success: #10b981;
  --color-warning: #fbbf24;
  --color-error: #ef4444;
  --color-notif: #3b82f6;
}

body.dark-mode {
  transition: all 0.3s ease;
  color: #f3f4f6;
  background-color: var(--color-background);
}

body.dark-mode input,
body.dark-mode button {
  color: #f3f4f6;
  background-color: var(--color-task);
  border-color: rgba(0, 86, 214, 0.299);
}
body.dark-mode button{
  background-color: #24395c;
}

body.dark-mode .container {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

body.dark-mode .toggle-container i {
  color: #d1d5db;
}

.completed-task.dark-mode {
  background-color: rgba(9, 142, 0, 0.452);
}

.expired-task.dark-mode {
  background-color: rgba(211, 0, 0, 0.375);
}

.warning-task.dark-mode {
  background-color: rgba(199, 189, 0, 0.452);
}

.button-container button {
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  color: #333;
  transition: all 0.3s ease;
}

.hamburger-menu {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
}

#hamburgerBtn {
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-options {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: var(--color-background);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 15px;
  min-width: 200px;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* حالت دارک */
.dark-mode .menu-options {
  background-color: #222;
  color: #eee;
  border-color: #444;
}

/* نمایش منو هنگام فعال‌سازی */
.menu-options.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.menu-options label {
  margin-bottom: 0.5rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fff;
  margin: 12% auto;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: justify;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content h3 {
  margin-top: 0;
}

.close {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 24px;
  cursor: pointer;
}

body.dark-mode .modal-content {
  background-color: #2c2c2c;
  color: #f1f1f1;
}

body.dark-mode .modal-content h3 {
  color: #f9d342;
}

body.dark-mode .close {
  color: #f1f1f1;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

#hamburgerBtn{
  display: none;
}

@media (min-width: 321px) and (max-width: 480px) {
  body {
    font-size: 0.7rem;
  }

  .modal-content {
    margin: 65% auto;
  }

  .container{
    margin-top: 3.5rem;
  }

  .button-container{
    display: none;
  }

  #hamburgerBtn{
    display: block;
  }

  .input-section input {
    font-size: 0.7rem;
    width: 50%;
    height: 100%;
    padding: 9px;
  }

  .wrapper {
    margin-left: 5px;
    height: 100%;
  }

  .filter-todos,
  #delete-all-button,
  #add-button,
  #edit-button {
    font-size: 0.7rem;
  }

  .button-wrapper {
    width: 45%;
  }

  .clear-icon {
    font-size: 1.1rem;
    left: 8px;
  }

  tbody td button {
    padding: 4px 8px;
    margin: 2px 5px;
    font-size: 0.6rem;
  }

  td button:nth-child(2),
  td button:nth-child(3) {
    width: 46.58px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .button-wrapper {
    width: 40%;
  }
}
